body{
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: sans-serif;
    margin:5rem 20rem;
}
.top-bar {
    background-color: rgb(49, 49, 49);
    color: rgb(169, 166, 177);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: fit-content;
    padding: 10px;
    text-align:center;
    border-left-width: 5px;
    border-left-style: solid;

}
.top-menu{
    width: auto;
    margin: 2px;
}
.menu-button{
    display: inline;
    padding: 10px;
    position: relative;
    transition: background-color .1s;
}
.menu-button:hover {
    background-color: rgba(169, 166, 177, 0.192);
}
.menu-button::before {
    background-color: rgb(169, 166, 177);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    transform-origin: .5 0;
    transition: transform .1s;
    transform: scaleX(0);
}
.menu-button:hover::before {
    transform: scaleX(1);
}